/*主容器*/
.page{
    /*
    margin:25px;
    width: calc(100% - 50px);
    */
    min-height: calc(100% - 50px);
    background: #fff;
}

.clear::after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

/*布局块*/

.float{
    float:left;
}

/*文字对齐*/
.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

/*文字颜色*/
.red{
    color:red;
}

.blue{
    color:blue;
}

.green{
    color:green;
}

.white{
    color:#fff;
}

/*背景颜色*/
.bg-red{
    background-color:#F27935;
}

.bg-blue{
    background-color:#1E8BC3;
}

.bg-green{
    background-color:#00B16A;
}

.bg-gray{
    background-color:#666;
}

.bg-black{
    background-color:#0a0f2c;
}

/*其他*/
.button{
    border: 1px solid #eeeeee;
    padding-left: 1.5rem;
    cursor:pointer;
}

.content{
    padding: 0.5rem 2rem;
    line-height: 30px;
}

/*加粗*/
.bold{
    font-weight: bold;
}

/*标题*/
.ui-com-title {
    background-color: #0a0f2c;
    color: #fff;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
}

.api-detail{
    background-color: #f6f7fb;
    padding: 20px;
}





.ui-home{
    width: 85%;
    margin: 0 auto;
}

/*详情页面 部分公用样式*/

.ui-common-details-title {
    display: none;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 780px) {
    .ui-common-details-title{
        display: block;
        background: #000;
        color: #ffffff;
        font-size:25px;
        padding:1rem 0;
    }
}

.ui-spa-bg{
    background: lightgrey;
    color: #34495e;
}
.ui-spa-title{
    font-size:20px;
    padding: 1rem;
}

.ui-spa{
    width:85%;
    margin:0 auto;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px) {
    .ui-spa{
        width:100%;
        margin:0 auto;
    }
    .ui-home{
        width: 100%;
    }
    .ui-api-home ul li{
        text-align: center;
        word-break: break-all;
    }
    .ui-api-home ul li span{
        text-align: center;
        word-break: break-all;
        width: 57px;
        margin: 10px;
    }
}
.ui-spa-bg li{
    padding: 0.5rem 2rem;
}