*{margin: 0;padding: 0;}

html,body{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    background-color: #FCFCFC;
}

/*头部公用样式*/
header{
    text-align: center;
}

/*中部公用样式*/
ul,ol,li{
    padding: 0;
    margin: 0;
    list-style: none;
}

/*底部公用样式*/
footer{
    display: block;
}

/*标题样式*/
h1{
    background-color: lightgrey;
    font-size: 1.5rem;
    padding: 1rem;
}

h2{
    background-color: lightgrey;
    font-size: 1rem;
    padding: 1rem;
}

h3{
    background-color: lightgrey;
    font-size: 0.5rem;
    padding: 1rem;
}