/*一级class*/

.clear::after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

/*主容器*/
.ui-page{
    /*
    margin:25px;
    width: calc(100% - 50px);
    */
    min-height: calc(100% - 50px);
    background: #fff;
}

/*颜色配置*/
.ui-red{
    color:red;
}

.ui-blue{
    color:blue;
}

.ui-green{
    color:green;
}

/*背景颜色配置*/
.bg-red{
    background-color:#F27935;
}

.bg-blue{
    background-color:#1E8BC3;
}

.bg-green{
    background-color:#00B16A;
}

/*文字对齐模式*/
.ui-left{
    text-align: left;
}

.ui-center{
    text-align: center;
}

.ui-right{
    text-align: right;
}

/*其他*/

.ui-button{
    border: 1px solid #eeeeee;
    padding-left: 1.5rem;
    cursor:pointer;
}

.ui-float{
    float:left;
}