/*主容器*/
.page{
    /*
    margin:25px;
    width: calc(100% - 50px);
    */
    min-height: calc(100% - 50px);
    background: #fff;
}

/*布局块*/
.clear{
    clear: both;
}

.float{
    float:left;
}

/*文字对齐*/
.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

/*文字颜色*/
.red{
    color:red;
}

.blue{
    color:blue;
}

.green{
    color:green;
}

/*背景颜色*/
.bg-red{
    background-color:red;
}

.bg-blue{
    background-color:blue;
}

.bg-green{
    background-color:green;
}

/*其他*/
.button{
    border: 1px solid #eeeeee;
    padding-left: 1.5rem;
    cursor:pointer;
}