.sk-slides{

}

.sk-slides-left{
	width:50px;
	height:100px;
	background:url(arrow-left.png) no-repeat center center;	
}
.sk-slides-right{
	width:50px;
	height:100px;
	background:url(arrow-right.png) no-repeat center center;
}