<ul>
    <li>
        <div class="ui-modularize">
            <h3 class="ui-modularize-title">1.两种模块化的写法</h3>
            <ul>
                <li>
                    <p>amd 异步模块加载</p>
                    <p>先行原则</p>
                    <p>基本语法</p>
                    <code>define(id, deps, factory);</code><br/>
                    <code>define(deps, factory);</code>
                    <p>范例:</p>
                    <code>
                        define("id", ["dep1","dep2","dep3"], function(require, exports, module, dep1, dep2, dep3){{

                        }});
                    </code>
                </li>
                <li>
                    <p>cmd 通用模块定义</p>
                    <p>就近原则</p>
                    <p>基本语法</p>
                    <code>define(id, factory);</code>
                    <p>范例:</p>
                    <code>
                        define("id", function(req, exp, mod){{
                            var dep1 = req("dep1");
                            var dep2 = req("dep2");
                            var dep3 = req("dep3");

                        }});
                    </code>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="ui-modularize">
            <h3 class="ui-modularize-title">2.factory参数</h3>
            <ul>
                <li>require(req) 请求模块</li>
                <li>exports(exp) 输出对象</li>
                <li>module(mod) 模块本身</li>
            </ul>
        </div>
    </li>
    <li>
        <div class="ui-modularize">
            <h3 class="ui-modularize-title">3.config配置</h3>
            <ul>
                <li>1.写法: {literal}seekjs.config({ns:{-},path:{-},alias:{-},packages:{-}});{/literal}</li>
                <li>2.ns 命名空间 如: req("mod.Dream");</li>
                <li>3.path 短路径 如: req("ad/160101/home");</li>
                <li>4.alias 别名 如: req("service");</li>
                <li>5.packages 包 如: req("echarts")/req("cheachs/line");</li>
            </ul>
        </div>
    </li>
</ul>