<div class="ui-home ui-page">

    <ul>
		<li>
			<h1>插件</h1>
			<ul>
				<li>
					<h2>全局插件</h2>
					<ul class="ui-home__link">
						<li><a href="javascript:void(0)" data-event="showMask">mask遮罩层</a></li>
						<li><a href="javascript:void(0)" data-event="showText":>dialog弹框</a></li>
					</ul>
				</li>
				<li>
					<h2>页面插件</h2>
					<ul class="ui-home__link">
						<li><a href="#plugin_datePicker">datePicker日期选择器</a></li>
						<li><a href="#plugin_spring">折叠效果</a></li>
						<li><a href="#plugin_chart">BI图表</a></li>
						<li><a href="#plugin_echarts">Echarts图表</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<h1>工具</h1>
			<ul class="ui-home__link">
				<li><a href="#tool_editor">web在线编辑器</a></li>
			</ul>
		</li>
	</ul>

</div>
