<div class="ui-page ui-code">
    <div>
        <textarea data-bind="srcCode" rows="20" cols="75" data-event="keydown>chkKey"></textarea>
    </div>
    <div>
        代码类型:
        <select data-bind="codeType">
            <option value="js">JS</option>
            <option value="css">CSS</option>
            <option value="html">HTML</option>
        </select>
    </div>
    <div>
        <button data-submit="compress">压缩</button>
        <button data-submit="format">格式化</button>
        <button data-submit="highlight">高亮</button>
        <button data-submit="compress_and_highlight">压缩+高亮</button>
        <button data-submit="format_and_highlight">格式化+高亮</button>
        <button data-submit="runCode">运行代码</button>
        <button data-submit="saveCode">保存代码</button>
    </div>
    <div data-part="panel" class="ui-code__panel"><!--part start-->{this.code}<!--part end--></div>
</div>