.sk-message{
	position: absolute;
	right:0;
	top: 100%;
    width:100%;
}

/*按钮样式*/
.sk-message button{
	display: block;
	width: 100%;
	background-color: #ff7f00;
	color: #fff;
}

/*触发按钮样式*/
.sk-message-trigger{	
	text-align:right;
    background:#fff;
}
.sk-message-trigger i{
    display:inline-block;
    width:32px;
    height:32px;
	background:url(icon_close.png);
}

/*确认按钮样式*/
.sk-message-ok{
	margin:5px auto;
	height: 30px;
	line-height: 30px;
}

/*取消按钮样式*/
.sk-message-cancel{
	margin:5px auto 1px;
	height:30px;
	line-height: 30px;
	background-color: #ACA8A8!important;
}

/*正文样式*/
.sk-message-content{
    background:#fff;
}

/*遮罩层样式*/
.sk-message-mask{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	display:none;
}