<ul>
    {foreach src=this.data item=cat}
    <li>
        <div class="ui-app">
            <h3 class="ui-app-title">{sn}.{cat.title}</h3>
            <ul>
                {foreach src=cat.list}
                <li>
                    {sn}.{item.name} {item.title}
                    {if item.args}
                        参数列表:
                        {foreach src=item.args item=arg}
                        <span>{arg.name} {arg.title}</span>
                        {/foreach}
                    {/if}
                </li>
                {/foreach}
            </ul>
        </div>
    </li>
    {/foreach}
</ul>