 <div>
<header class="ui-common-details-title">{$lang.summary}</header>
<ul class="ui-spa-ul">
<li>
    <div class="ui-spa">
        <h4 class="ui-spa-title">1.{$lang.framework_base}</h4>
        <ul class="ui-spa-bg">
            <li>1.{$lang.spa}</li>
            <li>2.{$lang.modularization}</li>
            <li>3.{$lang.template}</li>
        </ul>
    </div>
     <div class="ui-spa">
        <h4 class="ui-spa-title">2.{$lang.framework_rule}</h4>
        <ul class="ui-spa-bg">
            <li>1.{$lang.simple}</li>
            <li>2.{$lang.no_repeat}</li>
            <li>3.{$lang.data_driven}</li>
        </ul>
    </div>
     <div class="ui-spa">
        <h4 class="ui-spa-title">3.{$lang.multi_mode}</h4>
        <ul class="ui-spa-bg">
            <li>1.{$lang.mvc_framework}</li>
            <li>2.{$lang.lightweight}</li>
            <li>3.{$lang.single}</li>
        </ul>
    </div>
</li>
</ul>
</div>
