 <div>
<header class="ui-common-details-title">{$lang.modularize}</header>
<ul>
<li>
    <div class="ui-spa">
        <h4 class="ui-spa-title">1.{$lang.stronger_modular}</h4>
        <ul class="ui-spa-bg">
            <li>1.{$lang.commonJs_rule}</li>
            <li>2.{$lang.sync_mode}</li>
            <li>3.{$lang.join_namespace}</li>
        </ul>
    </div>
</li>
<li>
    <div class="ui-spa">
        <h4 class="ui-spa-title">2.{$lang.module_object_and_method}</h4>
        <ul class="ui-spa-bg">
            <li>module {$lang.module_itself}</li>
            <li>exports = module.exports {$lang.export_object}</li>
            <li>require {$lang.load_module}</li>
            <li>__dirname {$lang.dir_name}</li>
            <li>__filename {$lang.filename}</li>
        </ul>
    </div>
</li>
<li>
    <div class="ui-spa">
        <h4 class="ui-spa-title">3.seekjs.config {$lang.config}</h4>
        <ul class="ui-spa-bg">
            <li>1.{$lang.usage}: {literal}seekjs.config({ns:{-},path:{-},alias:{-},packages:{-}});{/literal}</li>
            <li>2.ns {$lang.namespace} {$lang.example}: req("mod.Dream");</li>
            <li>3.path {$lang.short_path} {$lang.example}: req("ad/160101/home");</li>
            <li>4.alias {$lang.alias} {$lang.example}: req("service");</li>
            <li>5.packages {$lang.package} {$lang.example}: req("echarts")/req("cheachs/line");</li>
        </ul>
    </div>
</li>
</ul>
</div>
