 <div class="ui-spa">
    <header class="ui-common-details-title">{$lang.ajax}</header>
    <h4 class="ui-spa-title">1. ajax {$lang.global_config}</h4>
    <ul class="ui-spa-bg">
        <li>ajax.setup();</li>
        <li>{$lang.example}:</li>
    </ul>
      <h4 class="ui-spa-title">2. ajax {$lang.return_processing}</h4>
    <ul class="ui-spa-bg">
        <li>ajax.res</li>
        <li>{$lang.example}:</li>
    </ul>
     <h4 class="ui-spa-title">3. ajax {$lang.package_emit_interface}</h4>
    <ul class="ui-spa-bg">
        <li>{$lang.Import}: var emit = req("emit");</li>
        <li>{$lang.Call}: emit("file/method");</li>
    </ul>
</div>
