.ui-content-ul{
    margin: 50px;
}

.ui-content-li{
    width:50%;
    height:150px;
    float: left;
}


.ui-modularize{
    margin:0 auto;
    /*border: 1px solid lightgrey;*/
}
.ui-modularize-title{
    background-color: lightgrey;
    /*padding-left: 20px;*/
    padding: 1rem;
}
.ui-modularize ul li{
    padding: 0.5rem 2rem;
    /*padding-left: 20px;*/
}














