/*.ui-api>div{*/
    /*float: left;*/
/*}*/

/*.ui-api>div:first-child{*/
    /*width:200px;*/
/*}*/

/*.ui-api>div:last-child{*/
    /*width: calc(100% - 200px);*/
/*}*/

.ui-home-title{
    background-color: #428bca;
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
}


.ui-home-li{
    border: 1px solid #eeeeee;
    padding-left: 1.5rem;
    cursor:pointer;
}


